{% extends "index.html"  %}
{% block content %}

<style>
    .title {
        margin-left: 15%;
        padding: 0 20px;
    }

    .container {
        margin-left: 15%;
        padding-bottom: 60px;
    }

    .result {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
    }

    #boxplot {
        border: 1px solid black;
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }

    table {
        border-collapse: collapse;
        font-size: 14.5px;
        text-align: center;
        margin-bottom: 20px;
    }

    thead {
        background: #bbdefb;
    }

    th {
        border: 1px solid black;
    }

    td {
        border: 1px solid black;
      
    }

    button {
        width: 250px;
    }

    button:hover {
        cursor: pointer;
    }

    select {
        text-align: center;
        width: 100%;
        border: none;
    }

    select:focus {
        outline: none;
    }

    .del {
        width: 100px;
    }

    #submit {
        width: 250px;
        height: 30px;
        background-color: #009688;
        border: none;
        color: white;
        float: right;
    }

    #reset {
        width: 150px;
        height: 30px;
        margin-right: 15px;
        float: right;
    }
</style>

<h1 style="margin-left:15%; padding: 0 20px">테이블 속성 편집</h1>
<h2 style="margin-left:15%; padding: 0 20px">{{table_name}} 속성 도메인 스캔</h2>
<div class="container"> 
    <div class="result">
        <h3>수치 속성 스캔 결과</h3>
        <div id="boxplot">
        </div>
        <table style="border:1px solid black">
            <thead>
                <tr>
                    <th>속성명</th>
                    <th>데이터 타입</th>
                    <th>속성 삭제</th>
                    <th>NULL 레코드 수</th>
                    <th>NULL 레코드 비율</th>
                    <th>상이 수치 값</th>
                    <th>최대 값</th>
                    <th>최소 값</th>
                    <th>0 레코드 수</th>
                    <th>0 레코드 비율</th>
                    <th>대표 속성</th>
                    <th>결합키 후보</th>
                    <th>대표 결합키</th>
                </tr>
            </thead>
            <tbody class="n_tbody">
            </tbody>
        </table>
    </div>
    <div class="result">
        <h3>범주 속성 스캔 결과</h3>
        <table style="border:1px solid black">
            <thead>
                <tr>
                    <th>속성명</th>
                    <th>데이터 타입</th>
                    <th>속성 삭제</th>
                    <th>NULL 레코드 수</th>
                    <th>NULL 레코드 비율</th>
                    <th>상이 범주 값</th>
                    <th>특수문자 포함 레코드 수</th>
                    <th>특수문자 포함 레코드 비율</th>
                    <th>대표 속성</th>
                    <th>결합키 후보</th>
                    <th>대표 결합키</th>
                </tr>
            </thead>
            <tbody class="c_tbody">
            </tbody>
        </table>
        <form method="post" action="{{table_name}}/delete" id="save">
            <input id="submit" type="submit" value="변경사항 저장">
            <input id="reset" type="reset" value="초기화">
        </form>
    </div>     
</div>

<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>

<script>

    document.querySelector('.w3-container').style.display = 'none';

    /* 총 레코드 수 */
    let total_record = parseInt('{{total_record}}')

    /* string -> object로 변경 */
    let attr = '{{attr}}'
    attr = attr.replace(/&#39;/g,"")
    attr = attr.replace("[","")
    attr = attr.replace("]","")
    attr = attr.replace(/(\s*)/g,"")
    attr = attr.split(',')

    let datype = '{{datype}}'
    datype = datype.replace(/&#39;/g,"")
    datype = datype.replace("[","")
    datype = datype.replace("]","")
    datype = datype.replace(/(\s*)/g,"")
    datype = datype.split(',')

    let nullcount = '{{null}}'
    nullcount= nullcount.replace("[","")
    nullcount = nullcount.replace("]","")
    nullcount = nullcount.split(',')

    let recordcount = '{{record}}'
    recordcount= recordcount.replace("[","")
    recordcount = recordcount.replace("]","")
    recordcount = recordcount.split(',')

    let dist = '{{distinct}}'
    dist = dist.replace("[","")
    dist = dist.replace("]","")
    dist = dist.split(',')

    let isnumeric = '{{isnumeric}}'
    isnumeric = isnumeric.replace(/&#39;/g,"")
    isnumeric = isnumeric.replace("[","")
    isnumeric = isnumeric.replace("]","")
    isnumeric = isnumeric.replace(/(\s*)/g,"")
    isnumeric = isnumeric.split(',')

    let iscandidate = '{{candidate}}'
    iscandidate = iscandidate.replace(/&#39;/g,"")
    iscandidate = iscandidate.replace("[","")
    iscandidate = iscandidate.replace("]","")
    iscandidate = iscandidate.replace(/(\s*)/g,"")
    iscandidate = iscandidate.split(',')
    candidate = []
    for (let i=0;i<iscandidate.length;i++) {
        if (iscandidate[i]=='T') {
                candidate.push('O')
        } else {
                candidate.push('X')
        }
    }

    let zerocount = '{{zero}}'
    zerocount = zerocount.replace("[","")
    zerocount = zerocount.replace("]","")
    zerocount = zerocount.split(',')

    let minv = '{{minv}}'
    minv = minv.replace("[","")
    minv = minv.replace("]","")
    minv = minv.split(',')

    let maxv = '{{maxv}}'
    maxv = maxv.replace("[","")
    maxv = maxv.replace("]","")
    maxv = maxv.split(',')

    let symbolcount = '{{symbol}}'
    symbolcount = symbolcount.replace("[","")
    symbolcount = symbolcount.replace("]","")
    symbolcount = symbolcount.split(',')

    /* 대표속성 */
    let attr_name_RA = '{{attr_name_RA}}'
    attr_name_RA = attr_name_RA.replace(/&#39;/g,"")
    attr_name_RA = attr_name_RA.replace("[","")
    attr_name_RA = attr_name_RA.replace("]","")
    attr_name_RA = attr_name_RA.replace(/(\s*)/g,"")
    attr_name_RA = attr_name_RA.split(',')

    let repr_attr = '{{repr_attr}}'
    repr_attr = repr_attr.replace(/&#39;/g,"")
    repr_attr = repr_attr.replace("[","")
    repr_attr = repr_attr.replace("]","")
    repr_attr = repr_attr.replace(/(\s*)/g,"")
    repr_attr = repr_attr.split(',') 
    
    /* 대표결합키 */
    let attr_name_JK = '{{attr_name_JK}}'
    attr_name_JK = attr_name_JK.replace(/&#39;/g,"")
    attr_name_JK = attr_name_JK.replace("[","")
    attr_name_JK = attr_name_JK.replace("]","")
    attr_name_JK = attr_name_JK.replace(/(\s*)/g,"")
    attr_name_JK = attr_name_JK.split(',')

    let join_key = '{{join_key}}'
    join_key = join_key.replace(" '","")
    join_key = join_key.replace(/&#39;/g,"")
    join_key = join_key.replace("[","")
    join_key = join_key.replace("]","")
    join_key = join_key.split(',')


    /* 투플 생성 */
    const CreateTuple = (num) => {
        let numeric_tr = ""
        let categoric_tr = ""

        let numeric_count = 0;
        let categoric_count = 0;
        
        for (let i=0; i<num; i++) {
            if (isnumeric[i] == 'T') {
                numeric_tr += `
                <tr id=${attr[i]}>
                    <td>`+attr[i]+`</td>
                    <td class="datatype"></td>
                    <td> 
                        <input form="save" type="checkbox" id="Ncheck" name="check" class="Ncheck" value="`+ attr[i] +`">
                    </td>
                    <td>`+nullcount[i]+`</td>
                    <td>`+(parseInt(nullcount[i])/parseInt(recordcount[i]))+`</td>
                    <td>`+dist[i]+`</td>
                    <td>${datype[i] === "INT" ? parseInt(maxv[numeric_count]) : maxv[numeric_count]}</td>
                    <td>${datype[i] === "INT" ? parseInt(minv[numeric_count]) : minv[numeric_count]}</td>
                    <td>`+zerocount[numeric_count]+`</td>
                    <td>`+(zerocount[numeric_count]/parseInt(recordcount[i]))+`</td>
                    <td class='RA'></td>
                    <td>`+candidate[i]+`</td>
                    <td class="JK"></td>
                </tr>
                `
                document.querySelector('.n_tbody').innerHTML = numeric_tr;
                numeric_count += 1;
            }
            
            else if (isnumeric[i] == 'F') {
                    categoric_tr += `
                    <tr id=${attr[i]}>
                        <td>`+attr[i]+`</td>
                        <td class="datatype"></td>
                        <td>
                            <input form="save" type="checkbox" id="Ccheck" name="check" class="Ccheck" value="` + attr[i] + `">
                        </td>
                        <td>`+nullcount[i]+`</td>
                        <td>`+(parseInt(nullcount[i])/parseInt(recordcount[i]))+`</td>
                        <td>`+dist[i]+`</td>
                        <td>`+symbolcount[categoric_count]+`</td>
                        <td>`+(symbolcount[categoric_count]/parseInt(recordcount[i]))+`</td>
                        <td class='RA'></td>
                        <td>`+candidate[i]+`</td>
                        <td class="JK"></td>
                    </tr>
                    `
                    document.querySelector('.c_tbody').innerHTML = categoric_tr;
                    categoric_count += 1;
                }
            }   
        };

        CreateTuple(total_record)

        // 데이터 타입 <select>
        const DataTypes = [
            "INTEGER",
            "DOUBLE",
            "FLOAT",
            "VARCHAR",
            "TEXT",
            "LONGTEXT",
        ];

        let tdList = document.querySelectorAll('.datatype');
        (() => {
            for (const node of tdList) {
                let attributeName = node.parentNode.id;

                let selectElement = document.createElement('select');
                selectElement.setAttribute('name', attributeName);
                selectElement.setAttribute('form', 'save');
                
                let defaultOption = document.createElement('option');
                let n = attr.indexOf(attributeName);
                defaultOption.value = datype[n];
                defaultOption.innerHTML = datype[n];
                
                selectElement.appendChild(defaultOption);

                for (let dtype of DataTypes) {
                    if (dtype !== datype[n]) {
                        let optionElement = document.createElement('option');
                        optionElement.value = dtype;
                        optionElement.innerHTML = dtype;
                        selectElement.appendChild(optionElement);
                    }
                }

                node.appendChild(selectElement);
            }
        })();


        /* BOXPLOT 생성 */

        var reg = /[^0-9]/g;
        var reg1 = /[\\(\\)]/g
        
        let numeric_attr = '{{numeric_attr}}';
        numeric_attr = numeric_attr.split(',');

        let numeric_attr_data = '{{numeric_attr_data}}'
        numeric_attr_data = numeric_attr_data.replace(/&#39;/g,"")
        numeric_attr_data = numeric_attr_data.replace(reg1,"")
        numeric_attr_data = numeric_attr_data.replaceAll(" ","")
        numeric_attr_data = numeric_attr_data.split(',')

        let data = []
        for (let i=1; i<=numeric_attr.length; i++) {
            window[numeric_attr[i-1]] =[];
            for (let j=i; j<=numeric_attr_data.length; j+=numeric_attr.length) {
                window[numeric_attr[i-1]].push(parseInt(numeric_attr_data[j-1]));
            }

            window['trace'+i] = {
                y:window[numeric_attr[i-1]],
                type: 'box',
                name: numeric_attr[i-1],
                showlegend: false,
            }

            data.push(window['trace'+i])
        }

        var layout = {
            width: 290,
            height: 290,
            margin: {
                l:30,
                r:30,
                t:30,
                b:30
            }
        }

        Plotly.newPlot('boxplot',data,layout, {scrollZoom:true})


        // 대표 결합키
        let JKList = document.querySelectorAll('.JK');
        (async () => {
            let fetchedKeyList = await fetch('/stdkey').then((res) => res.json());

            for (const node of JKList) {
                let attributeName = node.parentNode.id;

                let selectElement = document.createElement('select');
                selectElement.setAttribute('name', attributeName + '_JK');
                selectElement.setAttribute('form', 'save');

                let defaultOption = document.createElement('option');
                if (attr_name_JK.includes(attributeName)) {
                    // 대표결합키 있는 속성
                    let n = attr_name_JK.indexOf(attributeName);
                    defaultOption.innerHTML = join_key[n];
                } else {
                    // 대표결합키 없는 속성
                    defaultOption.value = 'Null';
                    defaultOption.innerHTML = '';
                }

                selectElement.appendChild(defaultOption);
                let blank = document.createElement('option');
                blank.value = 'Null';
                blank.innerHTML = '';
                selectElement.appendChild(blank);

                for (const stdkey of fetchedKeyList) {
                    let optionElement = document.createElement('option');
                    optionElement.value = stdkey;
                    optionElement.innerHTML = stdkey;
                    selectElement.appendChild(optionElement);
                }

                // 결합키 후보가 아닐 경우 대표결합키 설정 불가능
                if (iscandidate[attr.indexOf(attributeName)] === 'F') selectElement.disabled = true;

                node.appendChild(selectElement);
            }
        })();

        let RAList = document.querySelectorAll('.RA');
        (async () => {
            let fetchedAttrList = await fetch('/stdattr').then((res) => res.json());

            for (const node of RAList) {
                let attributeName = node.parentNode.id;

                let selectElement = document.createElement('select');
                selectElement.setAttribute('name', attributeName + '_RA');
                selectElement.setAttribute('form', 'save');

                let defaultOption = document.createElement('option');
                if (attr_name_RA.includes(attributeName)) {
                    // 대표속성 있는 속성
                    let n = attr_name_RA.indexOf(attributeName);
                    defaultOption.innerHTML = repr_attr[n];
                } else {
                    // 대표속성 없는 속성
                    defaultOption.value = 'Null';
                    defaultOption.innerHTML = '';
                }
                
                selectElement.appendChild(defaultOption);
                let blank = document.createElement('option');
                blank.value = 'Null';
                blank.innerHTML = '';
                selectElement.appendChild(blank);

                for (const stdattr of fetchedAttrList) {
                    let optionElement = document.createElement('option');
                    optionElement.value = stdattr;
                    optionElement.innerHTML = stdattr;
                    selectElement.appendChild(optionElement);
                }

                node.appendChild(selectElement);
            }
        })();
    </script>

{% endblock %}